*{
    box-sizing: border-box;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}


html, body {
    height: 100%;
    overflow-x: hidden; /* Impede a rolagem horizontal */
    font-family: "Roboto", sans-serif;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body.no-scroll {
    overflow: hidden; /* Impede rolagem quando a sidebar está ativa */
}


/*   -------------SIDEBAR ============?*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Camada escura com opacidade */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s ease; /* Transição suave */
    pointer-events: none; /* Ignora eventos de clique */
    z-index: 	10;
}

.overlay.active {
    opacity: 1; /* Torna a camada visível */
    pointer-events: all; /* Permite eventos de clique */
}

.sidebar {
    width: 25%; 
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed; 
    top: 0;
    right: 0; /* Mantenha ela à direita */
    transform: translateX(100%); /* Inicialmente fora da tela */
    transition: transform 0.3s ease; /* Transição suave */
    z-index: 11;
}

.sidebar.active {
    transform: translateX(0); /* Mostra a sidebar */
}

.top-image {
    width: 100%;
    height: 200px;
    max-width: 100%;
}
.top-overlay {
    position: absolute; /* Permite sobreposição */
    top: 0; /* Ajusta a posição vertical */
    left: 0; /* Ajusta a posição horizontal */
    width: 100%; /* Ocupa toda a largura */
    height: 200px; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column; /* Alinha texto e imagem em coluna */
    align-items: left; /* Centraliza horizontalmente */
    justify-content: flex-end; /* Centraliza verticalmente */
}

.overlay-image {
    width: 70px; /* Ajuste conforme necessário */
    border-radius: 50%;
    padding-top: 0;
    margin-left: 70%;
    max-width: 100%;
}

.overlay-text {
    color: #dbad07; /* Cor do texto */
    font-size: 0.9rem; /* Tamanho do texto */
    text-shadow:#434544 1px -1px, #434544 -1px 1px, #434544 1px 1px, #434544 -1px -1px;
    margin: 0 0 10 10;
	padding: 0;
}

.overlay-text2{
	color: white;
	font-size: 1.3rem;
	text-shadow:#434544 1px -1px, #434544 -1px 1px, #434544 1px 1px, #434544 -1px -1px;
	margin: 0 0 10 10;
	padding: 0;
}
.item {
    width: 100%; /* Faz com que cada item ocupe 100% da largura do sidebar */
    padding: 5px 0 5px 10px; /* Adiciona um pouco de espaçamento */
    text-align: left; /* Garante que o texto fique à esquerda */
}
.item > p > a{
	font-size: 1rem;
	color: white;
}
.item > p > a > span{
    margin-left: 10px;
    margin-right: 14px;
}
.submenu {
    display: none; /* Inicialmente escondido */
    width: 100%; /* Largura total */
}

.submenu p {
    margin: 0; /* Remove margem padrão */
    padding: 20px 0 0 45px;
}

.submenu p a {
    color: white; /* Cor do texto no submenu */
    font-size: 0.8rem; /* Tamanho do texto */
}

.submenu.active {
    display: block; /* Exibe o submenu quando ativo */
}


/*     --------   PAGINA PRINCIPAL      -----------   */

.topoprincipal{
	border-bottom: 1px solid gray;
	position: fixed;
	z-index: 1;
	background-color: white;
	width: 100%;
	left: 0;
	display: flex;
	align-items: center;
	overflow-x: hidden;
	padding: 0 10px;


}
.topoprincipal > img{
	width: 7%;
	height: auto;
}
.topoprincipal > h1{
	font-size: 1.6rem;
	font-weight: 100;
	padding-left: 3%;
}
.topoprincipal > a{
	color: black;
	font-size: 2.4rem;
	margin-left: auto;
}

/*  -----------MEDIA QUERIES    --------   */
@media only screen and (max-width: 768px){

.sidebar{
    width: 60%;
}
}